.nav-tabs{
	.nav-link{
	    background-color: #6b0000;
	    color: white;
	    border-radius:0px;
	    &.active{
	    	color:#6b0000;
	    }
	    &:hover{
	    	border-color:#980303;
	    	background-color:#980303;
	    }
	}
}