#navbar{
	span.badge{
	    margin-left: 7px;
    	padding: 7px 14px;
    	font-size: 100%;
	}
}
#sub-nav{
	background-color:#e9ecef;
	padding:10px;
	a{
		color:black;
	}
	li{
		a{

		}
		&.show{
			& > a {
				background:none !important;
			}
		}
		
	}
}