#search{
	.tabs{
		.tab-content{
			padding: 30px;
		}
		.nav-tabs{
			justify-content: center;
			a.active{
				background-color : #d9dcde;
				border:1px solid #d9dcde;
			}
		}
	}
	input{
	    margin-bottom: 20px;
	}
}