<template>
	<div>
		<form>
			<b-row>
				<b-col>
					<b-form-group :label="$t('choose language')" :invalid-feedback="errors.first('l')">
						<b-form-select :state="hasError('l')" v-validate="'required'" name="l" v-model="research.language" class="mb-3">
							<option :value="$t('arabic')">{{$t('arabic')}}</option>
							<option :value="$t('english')">{{$t('english')}}</option>
							<option :value="$t('Turkish')">{{$t('Turkish')}}</option>
							<option :value="$t('Malaysian')">{{$t('Malaysian')}}</option>
							<option :value="$t('Indonesian')">{{$t('Indonesian')}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>كاتب المراجعة:</h5>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('at')" :label="$t('title')">
						<b-form-select :state="hasError('at')" v-validate="'required'" name="at" v-model="research.author.title" class="mb-3">
							<option value="الأستاذ">الأستاذ</option>
							<option value="الأستاذة">الأستاذة</option>
							<option value="الدكتور">الدكتور</option>
							<option value="الدكتورة">الدكتورة</option>
							<option value="أستاذ مساعد">أستاذ مساعد</option>
							<option value="أستاذ مشارك">أستاذ مشارك</option>
							<option value="أستاذ دكتور">أستاذ دكتور</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('full name')" :invalid-feedback="errors.first('afn')">
						<b-form-input :state="hasError('afn')" v-validate="'required'" name="afn" v-model="research.author.full_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('last name')" :invalid-feedback="errors.first('aln')">
						<b-form-input :state="hasError('aln')" v-validate="'required'" name="aln" v-model="research.author.last_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>الكتاب:</h5>
			<b-row>
				<b-col>
					<b-form-group label="عنوان الكتاب الذى تمت مراجعته بالعربية" :invalid-feedback="errors.first('bta')">
						<b-form-input :state="hasError('bta')" v-validate="'required'" name="bta" v-model="research.review_title_arabic" type="text">			
						</b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group label="عنوان الكتاب بلغة اخرى">
						<b-form-input v-model="research.review_title_foreign" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group label="ISBN">
						<b-form-input v-model="research.issn" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col md="auto">
					<h5>صفحات مراجعة الكتاب:</h5>
				</b-col>
				<b-col :cols="4">
					<b-form-group :invalid-feedback="errors.first('br')">
						<b-form-select :state="hasError('br')" v-validate="'required'" name="br" v-model="research.book_review" class="mb-3">
							<option value="منشورة">منشورة</option>
							<option value="غير منشورة">غير منشورة</option>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pm')" label="وسيلة النشر">
						<b-form-input :state="hasError('pm')" v-validate="'required'" name="pm" v-model="research.publishment_mean">
						</b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col md="auto">
					<h5>الناشر :</h5>
				</b-col>
				<b-col :cols="4">
					<b-form-group :invalid-feedback="errors.first('pi')">
						<b-form-input :state="hasError('pi')" v-validate="'required'" name="pi" v-model="research.publishment_info">
						</b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pco')" :state="hasError('pco')" :label="$t('country')">
						<countries-arabic :state.sync="errors.has('pco') ? false: null" v-validate="'required'" name="pco" :selected.sync="research.publishment_country" @selected="$validator.detach('pco')"></countries-arabic>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pci')" :label="$t('city')">
						<b-form-input :state="errors.has('pci') ? false: null" v-validate="'required'" name="pci" v-model="research.publishment_city" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :description="research.publishment_date" :label="$t('date')">
						<b-row>
							<b-col>
								<b-form-input :state="hasError('pdm')" v-validate="'required|max_value:12'" name="pdm" v-model="research.months" placeholder="الشهر" type="number"></b-form-input>
								
							</b-col>
							<b-col>
								<b-form-input :state="hasError('pdt')" v-validate="'required|min_value:1850'" name="pdt" v-model="research.years" placeholder="السنة" type="number"></b-form-input>
							</b-col>
						</b-row>
					</b-form-group>
				</b-col>

			</b-row>
			<h5>صفحات مراجعة الكتاب:</h5>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('sp')" :label="$t('start page')">
						<b-form-input ref="sp" :state="hasError('sp')" v-validate="'required'" name="sp" v-model="research.start_page" type="number"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('ep')" :label="$t('end page')">
						<b-form-input :state="hasError('ep')" v-validate="'required'" name="ep" v-model="research.end_page" type="number"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('s')" label="السلسة/رقم الكتاب فى السلسلة">
						<b-form-input :state="hasError('s')" v-validate="'required'" name="s" v-model="research.series" type="number"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('key words')">
						<b-input-group class="key-words">
							<b-form-select @change="add($event)" text="اختر من هنا" variant="outline-secondary">
								<option v-for="category in categories" :value="category.title">{{category.title}}</option>
							</b-form-select>
							<b-form-input v-model="written_key_word" type="text"></b-form-input>
							<b-btn variant="outline-secondary" @click="add(written_key_word)">أضف</b-btn>
						</b-input-group>
						<h5>
							<b-badge class="ml-1 mt-2" variant="dark" v-for="category in research.categories" :key="category.title">
								{{category.title}}
								<a @click="remove(category.title)"><i class="fa fa-remove"></i></a>
							</b-badge>
						</h5>
					</b-form-group>
				</b-col>
			</b-row>
			<!-- MainSubject -->
			<h5>رؤوس الموضوعات : 
				<b-button-group>
					<b-button @click="addMain" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
					<b-button @click="pop(main_subjects)" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
				</b-button-group>			
			</h5>
			<b-row v-for="(main_subject , i) in research.mainSubjectsAll" :key="i">
				<b-col>
					<b-form-group :invalid-feedback="errors.first('ms')" :label="$t('main subject')">
						<b-form-select @change="assignMain(main_subject , $event)" :value="main_subject.title" type="text" name="ms" :state="hasError('ms')" v-validate="'required'">
							<option v-for="main in mains" :value="main.title">{{main.title}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col v-for="(sub_subject, i) in main_subject.sub_subjects" :key="i">
					<b-form-group :invalid-feedback="errors.first('ss')">
						<slot name="label">
							{{$t('sub-subject')}}
							<b-button-group size="sm">
								<b-button @click="addSub(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-plus"></i></b-button>
								<b-button @click="pop(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-minus"></i></b-button>
							</b-button-group>
						</slot>
						<b-form-select @change="assignSub(sub_subject , $event)" :value="sub_subject.title" type="text" name="ss" :state="hasError('ss')" v-validate="'required'">
							<option v-for="sub in main_subject.another" :value="sub.title">{{sub.title}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('summry in arabic')">
						<b-form-textarea v-model="research.summry_arabic" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('summry in another language')">
						<b-form-textarea v-model="research.summry_foreign" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group label="الرابط على الانترنت">
						<b-form-input v-model="research.review_website" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('sender')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('name')">
						<b-form-input v-model="research.sender_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('email')">
						<b-form-input v-model="research.sender_email" type="email"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('notes')">
						<b-form-textarea v-model="research.notes" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('The source from which the information was taken')">
						<b-form-input v-model="research.source_url" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-button class="f-w" @click="sendData" variant="primary">{{$t('Submit')}}</b-button>
				</b-col>
			</b-row>
		</form>
	</div>
</template>

<script>
	export default {
		props:['research' ,'pageNumber'],
		data(){
			return {
				publisher_n:0,
				co_authors_n:0,
				written_key_word:'',
				categories:[],
				mains:[],
				subs:[],
				loading:false,
				main_subjects: [
					{
						sub_subjects : [{}]
					}
				]
			}
		},
		created(){
			axios.get('/api/categories')
			.then(r => {
				this.categories = r.data.categories
			})
			axios.get('/api/main_subjects')
			.then(r => {
				this.mains = r.data.main_subjects
			})
		},
		methods:{
			add(t){
				let isCategory = this.research.categories.some(category =>  category.title.trim().toLowerCase() === t.toLowerCase())
				if( !isCategory && t.length !== 0){
					this.research.categories.push({title : t})
					this.written_key_word =''
				}
			},
			remove(t){
				let newCategory = this.research.categories.filter(category => category.title !== t)
				this.research.categories = newCategory
			},
			addMain(){
				let clone = _.cloneDeep(this.main_subjects[0])
				this.research.mainSubjectsAll.push(clone)
			},
			assignMain(current , title){
				let model = this.findMainSubject(title)
				current.title = model.title
				current._id = model._id
				current.another = model.sub_subjects
				this.$forceUpdate();
			},
			assignSub(current , title){
				let model = _(this.mains)
				.map('sub_subjects')
				.flatten()
				.filter({title: title})
				.value()
				current._id = model[0]._id
				current.title = model[0].title
			},
			addSub(model){
				let clone = _.clone(model[0])
				clone._id = ''
				clone.title = ''
				model.push(clone)
			},
			pop(collections){
				if (collections.length != 1) {
					collections.pop();
				}
			},
			validate(){
				this.$validator.validateAll()
				.then( result => {
					console.log(result)
					if (result){
						this.sendData();
						return;
					}
				})
			},
			sendData(){
				this.loading = true;
				axios.patch('/api/admin/researches/' + this.research._id + '?page=' + this.pageNumber, this.research)
				.then( r => {
					this.$emit('success' , r.data.researches)
					this.loading = false;
				})
			},
			findMainSubject(key){
				return this.mains.find( i => i.title === key);
			},
			hasError(input){
				return this.errors.has(input) ? false : null
			}
		}
	}
</script>