<template>
	<form>
		<b-row>
			<b-col>
				<b-form-group :label="$t('choose language')" :invalid-feedback="errors.first('l')">
					<b-form-select :state="errors.has('l') ?false:null" v-validate="'required'" name="l" v-model="research.language" class="mb-3">
						<option :value="$t('arabic')">{{$t('arabic')}}</option>
						<option :value="$t('english')">{{$t('english')}}</option>
						<option :value="$t('Turkish')">{{$t('Turkish')}}</option>
						<option :value="$t('Malaysian')">{{$t('Malaysian')}}</option>
						<option :value="$t('Indonesian')">{{$t('Indonesian')}}</option>
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>
		<h5>{{$t('Author')}} :</h5>
		<b-row>
			<b-col>
				<b-form-group :invalid-feedback="errors.first('at')" :label="$t('title')">
					<b-form-select :state="errors.has('at') ?false:null" v-validate="'required'" name="at" v-model="research.author.title" class="mb-3">
						<option value="أستاذ">أستاذ</option>
						<option value="أستاذة">أستاذة</option>
						<option value="دكتور">دكتور</option>
						<option value="دكتورة">دكتورة</option>
						<option value="أستاذ مساعد">أستاذ مساعد</option>
						<option value="أستاذ مشارك">أستاذ مشارك</option>
						<option value="أستاذ دكتور">أستاذ دكتور</option>
					</b-form-select>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group :label="$t('full name')" :invalid-feedback="errors.first('afn')">
					<b-form-input :state="errors.has('afn') ? false: null" v-validate="'required'" name="afn" v-model="research.author.full_name" type="text"></b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group :label="$t('last name')" :invalid-feedback="errors.first('author_last_name')">
					<b-form-input :state="errors.has('author.last_name') ? false:null" v-validate="'required'" name="author_last_name" v-model="research.author.last_name" type="text"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<h5>{{$t('co-author')}} :
			<b-button-group>
				<b-button @click="research.co_authors.push({full_name:'' , last_name:'' })" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
				<b-button @click="research.co_authors.pop()" :disabled="research.co_authors.length === 1" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
			</b-button-group>
		</h5>
		<div v-for="co_author in research.co_authors">
			<b-row>
				<b-col>
					<b-form-group :label="$t('full name')">
						<b-form-input v-model="co_author.full_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('last name')">
						<b-form-input v-model="co_author.last_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
		</div>
		<h5>المحرر :
			<b-button-group>
				<b-button @click="research.publishers.push({title:'' , full_name:'' , last_name:'' })" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
				<b-button @click="research.publishers.pop()" :disabled="research.publishers.length === 1" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
			</b-button-group>
		</h5>
		<div v-for="publisher in research.publishers">
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pt-'+publisher._id)" :label="$t('title')">
						<b-form-select :state="errors.has('pt-' + publisher._id) ? false: null" v-validate="'required'" :name="'pt-' + publisher._id" v-model="publisher.title" class="mb-3">
							<option value="الأستاذ">الأستاذ</option>
							<option value="الأستاذة">الأستاذة</option>
							<option value="الدكتور">الدكتور</option>
							<option value="الدكتورة">الدكتورة</option>
							<option value="أستاذ مساعد">أستاذ مساعد</option>
							<option value="أستاذ مشارك">أستاذ مشارك</option>
							<option value="أستاذ دكتور">أستاذ دكتور</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('full name')" :invalid-feedback="errors.first('pfn-'+publisher._id)">
						<b-form-input :state="errors.has('pfn-' + publisher._id) ? false: null" v-validate="'required'" :name="'pfn-' + publisher._id" v-model="publisher.full_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pln-'+publisher._id)" :label="$t('last name')">
						<b-form-input :state="errors.has('pln-' + publisher._id) ? false: null" v-validate="'required'" :name="'pln-' + publisher._id" v-model="publisher.last_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
		</div>
		<h5>الكتاب:</h5>
		<b-row>
			<b-col>
				<b-form-group label="عنوان الكتاب بالعربية" :invalid-feedback="errors.first('bta')">
					<b-form-input :state="hasError('bta')" v-validate="'required'" name="bta" v-model="research.book_title_arabic" type="text">			
					</b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group label="عنوان الكتاب بلغة أخري">
					<b-form-input v-model="research.book_title_foreign" type="text"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group :invalid-feedback="errors.first('pe')" label="الطبعة">
					<b-form-input :state="hasError('pe')" v-validate="'required'" name="pe" v-model="research.publishment_edition">
					</b-form-input>
				</b-form-group>
			</b-col>
			</b-row>
		<b-row>
			<b-col md="auto">
				<h5>الناشر :</h5>
			</b-col>
			<b-col :cols="4">
				<b-form-group :invalid-feedback="errors.first('pi')">
					<b-form-input :state="hasError('pi')" v-validate="'required'" name="pi" v-model="research.publishment_info">
					</b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pci')" :label="$t('city')">
						<b-form-input :state="errors.has('pci') ? false: null" v-validate="'required'" name="pci" v-model="research.publishment_city" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pco')" :state="errors.has('pco') ? false: null" label="الدولة">
						<countries-arabic :state="errors.has('pco') ? false: null" v-validate="'required'" name="pco" :selected="research.publishment_country" @selected="$validator.detach('pco')"></countries-arabic>
					</b-form-group>
				</b-col>
			</b-row>
		<b-row>
			<b-col>
				<b-form-group :description="research.publishment_date" :label="$t('date')">
					<b-row>
						<b-col>
							<b-form-input :state="errors.has('pdm') ? false: null" v-validate="'required|max_value:12'" name="pdm" v-model="research.months" placeholder="الشهر" type="number"></b-form-input>

						</b-col>
						<b-col>
							<b-form-input :state="errors.has('pdt') ? false: null" v-validate="'required|min_value:1850'" name="pdt" v-model="research.years" placeholder="السنة" type="number"></b-form-input>
						</b-col>
					</b-row>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group label="ISBN">
					<b-form-input v-model="research.issn" type="text"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group :invalid-feedback="errors.first('pn')" label="عدد صفحات الكتاب">
					<b-form-input :state="hasError('pn')" v-validate="'required'" name="pn" v-model="research.pages_number" type="number">

					</b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group :invalid-feedback="errors.first('s')" label="السلسة/رقم الكتاب فى السلسلة">
					<b-form-input :state="hasError('s')" v-validate="'required'" name="s" v-model="research.series" type="number"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group :label="$t('key words')">
					<b-input-group class="key-words">
						<b-form-select @change="add($event)" text="اختر من هنا" variant="outline-secondary">
							<option v-for="category in categories" :value="category.title">{{category.title}}</option>
						</b-form-select>
						<b-form-input v-model="written_key_word" type="text"></b-form-input>
						<b-btn variant="outline-secondary" @click="add(written_key_word)">أضف</b-btn>
					</b-input-group>
					<h5>
						<b-badge class="ml-1 mt-2" variant="dark" v-for="category in research.categories" :key="category.title">
							{{category.title}}
							<a @click="remove(category.title)"><i class="fa fa-remove"></i></a>
						</b-badge>
					</h5>
				</b-form-group>
			</b-col>
			
		</b-row>
		<!-- MainSubject -->
		<h5>رؤوس الموضوعات : 
			<b-button-group>
				<b-button @click="addMain()" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
				<b-button @click="pop(research.mainSubjectsAll)" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
			</b-button-group>			
		</h5>
		<b-row v-for="(main_subject , i) in research.mainSubjectsAll" :key="i">
			<b-col>
				<b-form-group :invalid-feedback="errors.first('ms')" :label="$t('main subject')">
					<b-form-select @change="assignMain(main_subject , $event)" :value="main_subject.title"  type="text">
						<option v-for="main in mains" :value="main.title">{{main.title}}</option>
					</b-form-select>
				</b-form-group>
			</b-col>
			<b-col v-for="(sub_subject , i) in main_subject.sub_subjects" :key="i">
				<b-form-group :invalid-feedback="errors.first('ss')">
					<slot name="label">
						{{$t('sub-subject')}}
						<b-button-group size="sm">
							<b-button @click="addSub(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-plus"></i></b-button>
							<b-button @click="pop(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-minus"></i></b-button>
						</b-button-group>
					</slot>
					<b-form-select @change="assignSub(sub_subject , $event)" :value="sub_subject.title" type="text">
						<option v-for="sub in main_subject.another" :value="sub.title">{{sub.title}}</option>
					</b-form-select>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group :label="$t('The source from which the information was taken')">
					<b-form-input v-model="research.source_url" type="text"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<h5>{{$t('sender')}} :</h5>
		<b-row>
			<b-col>
				<b-form-group :label="$t('name')">
					<b-form-input v-model="research.sender_name" type="text"></b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group :label="$t('email')">
					<b-form-input v-model="research.sender_email" type="email"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<h5>{{$t('owner')}} :</h5>
		<b-row>
			<b-col>
				<b-form-group :label="$t('email')">
					<b-form-input v-model="research.owner_email" type="email"></b-form-input>
				</b-form-group>
			</b-col>
			<b-col>
				<b-form-group :label="$t('website')">
					<b-form-input v-model="research.owner_website" type="url"></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-form-group :label="$t('notes')">
					<b-form-textarea v-model="research.notes" :rows="3" :max-rows="6"></b-form-textarea>
				</b-form-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<b-button class="f-w" @click="sendData" variant="primary">{{$t('Submit')}}</b-button>
				<img src="img/loading.svg" v-if="loading">
			</b-col>
		</b-row>
	</form>
</template>

<script>
	export default {
		props:['research' ,'pageNumber'],
		data(){
			return {
				publisher_n:0,
				co_authors_n:0,
				written_key_word:'',
				categories:[],
				mains:[],
				subs:[],
				loading:false,
				main_subjects: [
					{
						sub_subjects : [{}]
					}
				]
			}
		},
		created(){
			axios.get('/api/categories')
			.then(r => {
				this.categories = r.data.categories
			})
			axios.get('/api/main_subjects')
			.then(r => {
				this.mains = r.data.main_subjects
			})
		},
		methods:{
			add(t){
				let isCategory = this.research.categories.some(category =>  category.title.trim().toLowerCase() === t.toLowerCase())
				if( !isCategory && t.length !== 0){
					this.research.categories.push({title : t})
					this.written_key_word =''
				}
			},
			remove(t){
				let newCategory = this.research.categories.filter(category => category.title !== t)
				this.research.categories = newCategory
			},
			addMain(){
				let clone = _.cloneDeep(this.main_subjects[0])
				this.research.mainSubjectsAll.push(clone)
			},
			assignMain(current , title){
				let model = this.findMainSubject(title)
				current.title = model.title
				current._id = model._id
				current.another = model.sub_subjects
				this.$forceUpdate();
			},
			assignSub(current , title){
				let model = _(this.mains)
				.map('sub_subjects')
				.flatten()
				.filter({title: title})
				.value()
				current._id = model[0]._id
				current.title = model[0].title
			},
			addSub(model){
				let clone = _.clone(model[0])
				clone._id = ''
				clone.title = ''
				model.push(clone)
			},
			pop(collections){
				if (collections.length != 1) {
					collections.pop();
				}
			},
			validate(){
				this.$validator.validateAll()
				.then( result => {
					console.log(result)
					if (result){
						this.sendData();
						return;
					}
				})
			},
			sendData(){
				this.loading = true;
				axios.patch('/api/admin/researches/' + this.research._id + '?page=' + this.pageNumber, this.research)
				.then( r => {
					this.$emit('success' , r.data.researches)
					this.loading = false;
				})
			},
			findMainSubject(key){
				return this.mains.find( i => i.title === key);
			},
			hasError(input){
				return this.errors.has(input) ? false : null
			}
		}
	}
</script>