[v-cloak] { display: none; }
body{
	text-transform: capitalize;
	font-family: 'Cairo', sans-serif;
}
.direction{
	direction: ltr;
}
section{
	border-radius:0px;
	background-color:#e9ecef;
	padding:80px 40px;
	border-top:3px dotted #cbcfd4;
		text-align:center;
	.title{
		margin-bottom: 40px;
	}
}
p{
	    word-wrap: break-word;
    word-break: break-word;
}
.top-space{
	margin-top:20px;
}
.mb-30{
	margin-bottom:30px;
}
.mt-30{
	margin-top:30px;
}
.mt-2{
	margin-top:2px;
}
div.jumbotron{
	border-radius:0px;
	text-align:center;
}
div.media-body{
	text-align: left;
}
legend{
	font-size:1rem !important;
}
button{
	cursor:pointer;
}