<template>
    <div>
<!--         <b-row>
            <b-col>
                <b-form-group :label="$t('summry')">
                    <b-form-textarea :rows="3" :max-rows="6"></b-form-textarea>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('upload summry')">
                    <b-form-file placeholder="Choose a file... pdf - word - txt - jpeg"></b-form-file>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group :label="$t('summry with other language')">
                    <b-form-textarea :rows="3" :max-rows="6"></b-form-textarea>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('full text')">
                    <b-form-file placeholder="Choose a file... pdf - word - txt - jpeg"></b-form-file>
                </b-form-group>
            </b-col>
        </b-row>
        <h5>{{$t('Author')}} :</h5>
        <b-row>
            <b-col>
                <b-form-group :label="$t('title')">
                    <b-form-select v-model="selected" class="mb-3">
                        <option value="dr">{{$t('Dr')}}</option>
                        <option value="mr">{{$t('Mr')}}</option>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('full name')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group :label="$t('last name')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('names of other authors')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <h5>{{$t('publisher')}} :</h5>
        <b-row>
            <b-col>
                <b-form-group :label="$t('name')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('email')">
                    <b-form-input type="email"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group :label="$t('telephone')">
                    <b-form-input type="tel"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('website')">
                    <b-form-input type="url"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group :label="$t('The source from which the information was taken')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <h5>{{$t('sender')}} :</h5>
        <b-row>
            <b-col>
                <b-form-group :label="$t('name')">
                    <b-form-input type="text"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group :label="$t('email')">
                    <b-form-input type="email"></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group :label="$t('notes')">
                    <b-form-textarea :rows="3" :max-rows="6"></b-form-textarea>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-button class="f-w" type="submit" variant="primary">{{$t('Submit')}}</b-button>
            </b-col>
            <b-col>
                <b-button class="f-w" type="reset" variant="danger">{{$t('Reset')}}</b-button>
            </b-col>
        </b-row> -->
    </div>
</template>

<script>
    export default {
        mounted() {

        },
    }
</script>
