<template>
    <div>
        <b-pagination 
            v-if="researches_.data"
            class="mt-30"
            :total-rows="researches_.total" 
            v-model="researches_.current_page" 
            :per-page="researches_.per_page"
            @change="get_page($event)">
                
        </b-pagination> 
        <div v-for="research in researches_.data" class="mt-30">
            <component :is=" research.type_ + '-index'" :research="research">
                 <b-row align-h="between" slot="buttons">
                    <b-col>
                        <h4>{{research[research.type_ + '_title_arabic'] }}</h4>
                    </b-col>
                </b-row>
            </component>
        </div>
        <b-pagination 
            v-if="researches_.data"
            class="mt-30"
            :total-rows="researches_.total" 
            v-model="researches_.current_page" 
            :per-page="researches_.per_page"
            @change="get_page($event)">
                
        </b-pagination>        
    	<p class="mt-30" v-if="!researches_.data">
    		لا توجد بحوث حتى الان
    	</p>
    </div>
</template>

<script>
    export default {
    	props:['url'],
        data(){
        	return {
        		researches_: {},
        		message: ''
        	}
        },
        created(){
            axios.get('/api/researches')
                .then(r => {
                    console.log(r.data.researches)
                    this.researches_ = r.data.researches
                })
            Bus.$on('excel-added-success' , r => {
                this.get();
            })
        },
        methods:{
            get(){
                axios.get('/api/researches')
                    .then(r => {
                        this.researches_ = r.data.researches
                    })
            },
            get_page(n){
                axios.get('/api/researches?page=' + n)
                .then(r => {
                    this.researches_ = r.data.researches
                    window.scrollTo(0,0);
                })
            }
        }
    }
</script>
<style>
    .space{
        margin-left: 5px;
        margin-right: 5px;
    }
</style>