<template>
    <div>
    	<b-alert class="mt-30" variant="success" dismissible :show="message.length">
    		{{message}}
    	</b-alert>
        <b-pagination 
            v-if="researches_.data"
            class="mt-30"
            :total-rows="researches_.total" 
            v-model="researches_.current_page" 
            :per-page="researches_.per_page"
            @change="get_page($event)">
                
        </b-pagination> 
        <b-modal v-model="edit_modal.modalShow" hide-footer size="lg" title="تعديل">
            <research-update :id="edit_modal.id" :page-number="researches_.current_page" @success.self="researches_ = $event ; edit_modal.modalShow = false">
                
            </research-update>
        </b-modal>
        <div v-for="research in researches_.data" class="mt-30">
            <component :is=" research.type_ + '-index'" :research="research">
                <b-row align-h="between" slot="buttons">
                    <b-col>
                        <h4>{{research[research.type_ + '_title_arabic'] }}</h4>
                    </b-col>
                    <b-col cols="3">
                        <b-button-group>
                            <b-button v-if="research.state === 'wating'" @click="approve(research._id)" variant="success">موافقة</b-button>
                            <b-button v-if="research.state === 'wating'" @click="remove(research._id)" variant="danger">رفض</b-button>
                            <b-button v-if="research.state === 'approved'" @click="reset(research._id)" variant="info">تراجع</b-button>
                            <b-button  @click="toggle_modal(research._id)" variant="warning">تعديل</b-button>
                        </b-button-group>
                    </b-col>
                </b-row>
            </component>
        </div>
        <b-pagination 
            v-if="researches_.data"
            class="mt-30"
            :total-rows="researches_.total" 
            v-model="researches_.current_page" 
            :per-page="researches_.per_page"
            @change="get_page($event)">
                
        </b-pagination>        
    	<p class="mt-30" v-if="!researches_.data">
    		لا توجد بحوث حتى الان
    	</p>
    </div>
</template>

<script>
    export default {
    	props:['url'],
        data(){
        	return {
        		researches_: {},
        		message: '',
                edit_modal:{
                    modalShow: false,
                    id:''
                }
        	}
        },
        created(){
            axios.get('/api/admin/researches')
                .then(r => {
                    console.log(r.data.researches)
                    this.researches_ = r.data.researches
                })
            Bus.$on('excel-added-success' , r => {
                this.get();
            })
        },
        methods:{
        	approve(id){
        		axios.post('/api/admin/researches/approve?page=' + this.researches_.current_page, {id})
        		.then(r => {
        			this.researches_ = r.data.researches
        			this.message = "تمت الموافقة على البحث"
        		})
        	},
        	remove(id){
        		axios.delete('/api/admin/researches/'+ id + '?page=' + this.researches_.current_page)
        		.then(r => {
        			this.researches_ = r.data.researches,
        			this.message = "تم حذف البحث"
        		})
        	},
            reset(id){
                axios.post('/api/admin/researches/reset?page=' + this.researches_.current_page , {id})
                .then(r => {
                    this.researches_ = r.data.researches;
                    this.message = "تم التراجع عن الموافقة"
                })
            },
            get(){
                axios.get('/api/admin/researches')
                    .then(r => {
                        this.researches_ = r.data.researches
                    })
            },
            get_page(n){
                axios.get('/api/admin/researches?page=' + n)
                .then(r => {
                    this.researches_ = r.data.researches
                    window.scrollTo(0,0);
                })
            },
            toggle_modal(id){
                this.edit_modal.id = id
                this.edit_modal.modalShow = !this.edit_modal.modalShow
            }
        }
    }
</script>
<style>
    .space{
        margin-left: 5px;
        margin-right: 5px;
    }
    .text-left{
        text-align: left !important;
    }
</style>
