<template>
	<div>
		<b-alert 
			class="mt-30"
			:show="dismissCountDown"
             dismissible
             variant="success"
             @dismissed="dismissCountDown=0">
             تم إضافة الملف بنجاح
    	</b-alert>
		<b-alert class="mt-30" show variant="info">
			<h4 class="alert-heading">ملاحظات</h4>
			<p>- يرجى تحميل النموذج الخاص بكل نوع بحث وملؤه </p>
			<p><a href="/storage/samples/Article.xlsx">نموذج مقالة فى دورية عامة</a></p>
			<p><a href="/storage/samples/Book.xlsx">الكتب الأكاديمية / الكتب التعليمية</a></p>
			<p><a href="/storage/samples/Review.xlsx">مراجعات الكتب</a></p>
			<p>- الكلمات المفتاحية يفصل بينها بالعلامة '/' </p>
			<hr>
			<p class="mb-0">تغير رؤوس الموضوعات قد يسبب أخطاء برمجية</p>
		</b-alert>
		<b-form-group invalid-feedback="هذا الملف غير مسموح به" :state="isValid">
			<b-form-file :state="isValid" placeholder="أختر الملف" v-model="file" ref="file"></b-form-file>
		</b-form-group>
		<b-form-group>
			<b-button :disabled="!isValid" variant="primary" @click="validate">تحميل</b-button>
			<img src="/img/loading.svg" v-if="loading">
		</b-form-group>       
	</div>
</template>

<script>
	export default {
		data(){
			return {
				file: {},
				isValid: null,
				validExts: [ 'xlsx'],
				dismissCountDown: 0,
				loading:false
			}
		},
		watch:{
			file(file){
				if (file){
					this.validExts.indexOf(this.ext) === -1 ? 
						this.isValid = false : 
						this.isValid = true
				}
				else{
					this.isValid = null ; 
				}
			}
		},
		computed:{
			ext(){
				if (this.file) {
					return this.file.name.split('.').pop()
				}
				return '';
			}
		},
		methods:{
			validate(){
				this.isValid ? this.sendData() : null
			},
			sendData(){
				let formData = new FormData();
				formData.append("excel" , this.file)
				this.loading = true
				axios.post('/api/admin/researches' , formData , {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				})
				.then( r => {
					if (r.data.state === 'success') {
						this.dismissCountDown = 10
						this.$refs.file.reset()
						this.isValid = null ; 
						this.loading = false;
						Bus.$emit('excel-added-success')
					}
				})
				.catch( r => {
					this.loading = false
					alert('حدث خطأ فى رفع الملف يرجى التأكد من مطابقة الملف للنموذج المماثل')
				})
			}
		}
	}
</script>
