<template>
    <div>
    	<img src="/img/loading.svg" v-if="loading">
    	<b-row v-if="research.type_">
    		<b-col>
				<component 
					:page-number="pageNumber" 
					@success.self="$emit('success' , $event)" 
					:is="research.type_ + '-update'" 
					:research="research">
				</component>
    		</b-col>
    	</b-row>
    </div>
</template>

<script>
    export default {
    	props:['id' , 'pageNumber'],
        data(){
        	return {
        		research:{},
        		loading:false,
        	}
        },
        watch:{
        	id(){
        		this.loading = true;
	        	axios.get('/api/admin/researches/' + this.id)
	        		.then(r => {
	        			this.research = r.data.research
	        			if (this.research.language = "العربية") {
	        				Vue.config.lang = "ar"
	        			}
	        			this.loading = false;
	        		})

        	}
        },
    }
</script>