<template>
    <div>
        <b-card :title="$t('add to buhuths\'s database')" :sub-title="$t('buhuth seeks to increase its educational documents in its database')">
            <div class="divider"></div>
            <h5>{{$t('document')}} :</h5>
            <b-row>
                <b-col>
                    <b-form-group :label="$t('type of document')">
                        <b-form-select v-model="selected" class="mb-3">
                            <option value="dissertation-create">{{$t('Master\'s and doctoral dissertations')}}</option>
                            <option value="article-create">{{$t('Articles in scientific journals')}}</option>
                            <option value="paper-create">{{$t('Conference Papers')}}</option>
                            <option value="book-create">{{$t('Academic books / educational books')}}</option>
                            <option value="review-create">{{$t('Book Reviews')}}</option>
                            <option value="class-create">{{$t('Classes in academic books')}}</option>
                            <option value="report-create">{{$t('Reports on conferences or seminars')}}</option>
                        </b-form-select>
                    </b-form-group>
                </b-col>
            </b-row>
            <component :is="selected"></component>
        </b-card>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                selected: 'book-create',
            }
        }
    }
</script>

<style>
    .divider{
        width: 100%;
        border-bottom: 1px dotted #c5c5c5;
        margin-bottom: 20px;
    }
    .card-title , .card-subtitle{
        text-align: center;
    }
    .f-w{
        width: 100%;
    }
</style>