<template>
	<div>
		<form>
			<b-row>
				<b-col>
					<b-form-group :label="$t('choose language')" :invalid-feedback="errors.first('l')">
						<b-form-select :state="errors.has('l') ?false:null" v-validate="'required'" name="l" v-model="inputs.language" class="mb-3">
							<option :value="$t('arabic')">{{$t('arabic')}}</option>
							<option :value="$t('english')">{{$t('english')}}</option>
							<option :value="$t('Turkish')">{{$t('Turkish')}}</option>
							<option :value="$t('Malaysian')">{{$t('Malaysian')}}</option>
							<option :value="$t('Indonesian')">{{$t('Indonesian')}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('Author')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('at')" :label="$t('title')">
						<b-form-select :state="errors.has('at') ?false:null" v-validate="'required'" name="at" v-model="inputs.author_title" class="mb-3">
							<option value="الأستاذ">الأستاذ</option>
							<option value="الأستاذة">الأستاذة</option>
							<option value="الدكتور">الدكتور</option>
							<option value="الدكتورة">الدكتورة</option>
							<option value="أستاذ مساعد">أستاذ مساعد</option>
							<option value="أستاذ مشارك">أستاذ مشارك</option>
							<option value="أستاذ دكتور">أستاذ دكتور</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('full name')" :invalid-feedback="errors.first('afn')">
						<b-form-input :state="errors.has('afn') ? false: null" v-validate="'required'" name="afn" v-model="inputs.author_full_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('last name')" :invalid-feedback="errors.first('author_last_name')">
						<b-form-input :state="errors.has('author_last_name') ? false:null" v-validate="'required'" name="author_last_name" v-model="inputs.author_last_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('co-author')}} :
				<b-button-group>
					<b-button @click="++co_authors_n" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
					<b-button @click="--co_authors_n" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
				</b-button-group>
			</h5>
			<div v-for="(param, index) in co_authors_n">
				<b-row>
					<b-col>
						<b-form-group :label="$t('full name')">
							<b-form-input v-model="inputs.co_author_full_name[index]" type="text"></b-form-input>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group :label="$t('last name')">
							<b-form-input v-model="inputs.co_author_last_name[index]" type="text"></b-form-input>
						</b-form-group>
					</b-col>
				</b-row>
			</div>
			<h5>المقالة :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('article title in Arabic')" :invalid-feedback="errors.first('ata')">
						<b-form-input :state="errors.has('ata') ? false: null" v-validate="'required'" name="ata" v-model="inputs.article_title_arabic" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('article title in another language')">
						<b-form-input v-model="inputs.article_title_foreign" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('Journal')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('title of the journal in Arabic')" :invalid-feedback="errors.first('atj')">
						<b-form-input :state="errors.has('atj') ? false: null" v-validate="'required'" name="atj" v-model="inputs.journal_title_arabic" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('title of journal in another language')" >
						<b-form-input v-model="inputs.journal_title_foreign" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('jf')" :label="$t('journal frequency (month)')">
						<b-form-input :state="errors.has('jf') ? false: null" v-validate="'required|max_value:12|min_value:1'" name="jf" type="number" v-model="inputs.journal_frequency"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('type of journal')" :invalid-feedback="errors.first('jt')">
						<b-form-select v-model="inputs.journal_type" :state="errors.has('jt') ? false: null" v-validate="'required'" name="jt" class="mb-3">
							<option value="محكمة">محكمة</option>
							<option value="غير محكمة">غير محكمة</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('journal website')">
						<b-form-input v-model="inputs.journal_website" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>رئيس التحرير :
				<b-button-group>
					<b-button @click="++publisher_n" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
					<b-button @click="--publisher_n" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
				</b-button-group>
			</h5>
			<div v-for="(param, index) in publisher_n">
				<b-row>
					<b-col>
						<b-form-group :invalid-feedback="errors.first('pt-'+index)" :label="$t('title')">
							<b-form-select :state="errors.has('pt-' + index) ? false: null" v-validate="'required'" :name="'pt-' + index" v-model="inputs.publisher_title[index]" class="mb-3">
								<option value="الأستاذ">الأستاذ</option>
								<option value="الأستاذة">الأستاذة</option>
								<option value="الدكتور">الدكتور</option>
								<option value="الدكتورة">الدكتورة</option>
								<option value="أستاذ مساعد">أستاذ مساعد</option>
								<option value="أستاذ مشارك">أستاذ مشارك</option>
								<option value="أستاذ دكتور">أستاذ دكتور</option>
							</b-form-select>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group :label="$t('full name')" :invalid-feedback="errors.first('pfn-'+index)">
							<b-form-input :state="errors.has('pfn-' + index) ? false: null" v-validate="'required'" :name="'pfn-' + index" v-model="inputs.publisher_full_name[index]" type="text"></b-form-input>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group :invalid-feedback="errors.first('pln-'+index)" :label="$t('last name')">
							<b-form-input :state="errors.has('pln-' + index) ? false: null" v-validate="'required'" :name="'pln-' + index" v-model="inputs.publisher_last_name[index]" type="text"></b-form-input>
						</b-form-group>
					</b-col>
				</b-row>
			</div>
			<b-row>
				<b-col md="auto">
					<h5>الناشر :</h5>
				</b-col>
				<b-col :cols="4">
					<b-form-group :invalid-feedback="errors.first('pi')">
						<b-form-input :state="hasError('pi')" v-validate="'required'" name="pi" v-model="inputs.publishment_info">
						</b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pco')" :state="errors.has('pco') ? false: null" :label="$t('country')">
						<countries-arabic :state.sync="errors.has('pco') ? false: null" v-validate="'required'" name="pco" :selected.sync="inputs.publishment_country" @selected="$validator.detach('pco')"></countries-arabic>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('pci')" :label="$t('city')">
						<b-form-input :state="errors.has('pci') ? false: null" v-validate="'required'" name="pci" v-model="inputs.publishment_city" type="text"></b-form-input>
					</b-form-group>
				</b-col>

				<!-- date -->
				
				<b-col>
					<b-form-group :description="publishment_date" :label="$t('date')">
						<b-row>
							<b-col>
								<b-form-input :state="errors.has('pdm') ? false: null" v-validate="'required|max_value:12'" name="pdm" v-model="months" placeholder="الشهر" type="number"></b-form-input>
								
							</b-col>
							<b-col>
								<b-form-input :state="errors.has('pdt') ? false: null" v-validate="'required|min_value:1850'" name="pdt" v-model="years" placeholder="السنة" type="number"></b-form-input>
							</b-col>
						</b-row>
					</b-form-group>
				</b-col>

			</b-row>
			<h5>{{$t('the folder')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('the number')">
						<b-form-input v-model="inputs.folder_number" type="number"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('the section')">
						<b-form-input v-model="inputs.folder_section" type="number"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('sp')" :label="$t('start page')">
						<b-form-input ref="sp" :state="errors.has('sp') ? false: null" v-validate="'required'" name="sp" v-model="inputs.start_page" type="number"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :invalid-feedback="errors.first('ep')" :label="$t('end page')">
						<b-form-input :state="errors.has('ep') ? false: null" v-validate="'required'" name="ep" v-model="inputs.end_page" type="number"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('key words')">
						<b-input-group class="key-words">
							<b-form-select @change="add($event)" text="اختر من هنا" variant="outline-secondary">
								<option v-for="category in categories" :value="category.title">{{category.title}}</option>
							</b-form-select>
							<b-form-input v-model="written_key_word" type="text"></b-form-input>
							<b-btn variant="outline-secondary" @click="add(written_key_word)">أضف</b-btn>
						</b-input-group>
						<h5>
							<b-badge class="ml-1 mt-2" variant="dark" v-for="word in inputs.key_words" :key="word">
								{{word}}
								<a @click="remove(word)"><i class="fa fa-remove"></i></a>
							</b-badge>
						</h5>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('issn')">
						<b-form-input v-model="inputs.issn" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<!-- MainSubject -->
			<h5>رؤوس الموضوعات : 
				<b-button-group>
					<b-button @click="addMain" variant='primary' size="sm"><i class="fa fa-plus"></i></b-button>
					<b-button @click="pop(main_subjects)" variant='primary' size="sm"><i class="fa fa-minus"></i></b-button>
				</b-button-group>			
			</h5>
			<b-row v-for="(main_subject , i) in main_subjects" :key="i">
				<b-col>
					<b-form-group :invalid-feedback="errors.first('ms')" :label="$t('main subject')">
						<b-form-select @change="assignMain(main_subject , $event)" :value="main_subject" type="text" name="ms" :state="hasError('ms')" v-validate="'required'">
							<option v-for="main in mains" :value="main">{{main.title}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
				<b-col v-for="(sub_subject, i) in main_subject.sub_subjects" :key="i">
					<b-form-group :invalid-feedback="errors.first('ss')">
						<slot name="label">
							{{$t('sub-subject')}}
							<b-button-group size="sm">
								<b-button @click="addSub(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-plus"></i></b-button>
								<b-button @click="pop(main_subject.sub_subjects)" variant='link' size="sm"><i class="fa fa-minus"></i></b-button>
							</b-button-group>
						</slot>
						<b-form-select @change="assignSub(sub_subject , $event)" :value="sub_subject" type="text" name="ss" :state="hasError('ss')" v-validate="'required'">
							<option v-for="sub in main_subject.sub_list" :value="sub">{{sub.title}}</option>
						</b-form-select>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('summry in arabic')">
						<b-form-textarea v-model="inputs.summry_arabic" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('upload summry')">
						<b-form-file v-model="inputs.summry_file" placeholder="Choose a file... pdf - word - txt - jpeg"></b-form-file>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>    
				<b-col>
					<b-form-group :label="$t('summry in another language')">
						<b-form-textarea v-model="inputs.summry_foreign" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('full text')">
						<b-form-file v-model="inputs.full_text" placeholder="Choose a file... pdf - word - txt - jpeg"></b-form-file>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('sender')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('name')">
						<b-form-input v-model="inputs.sender_name" type="text"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('email')">
						<b-form-input v-model="inputs.sender_email" type="email"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<h5>{{$t('owner')}} :</h5>
			<b-row>
				<b-col>
					<b-form-group :label="$t('email')">
						<b-form-input v-model="inputs.owner_email" type="email"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('website')">
						<b-form-input v-model="inputs.owner_website" type="url"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-form-group :label="$t('notes')">
						<b-form-textarea v-model="inputs.notes" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
				</b-col>
				<b-col>
					<b-form-group :label="$t('The source from which the information was taken')">
						<b-form-input v-model="inputs.source_url" type="text"></b-form-input>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-alert class="mt-3" variant="danger" :show="message.length" v-text="message"></b-alert>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
					<b-button class="f-w" @click="sendData" variant="primary">{{$t('Submit')}}</b-button>
				</b-col>
			</b-row>
		</form>
	</div>
</template>

<script>	
	export default {
		data(){
			return {
				message:'',
				categories:[],
				mains:[],
				current_main:{},
				co_authors_n:1,
				publisher_n:1,
				written_key_word:'',
				months: '',
				years : '',
				main_subjects: [
					{
						sub_subjects : [{}]
					},
				],
				inputs:{
					type_: "article",
					type:this.$t('Articles in scientific journals'),
					language:'',
					article_title_arabic:'',
					article_title_foreign:'',
					journal_title_arabic:'',
					journal_title_foreign:'',
					start_page:'',
					end_page:'',
					key_words:[],
					issn:'',
					summry_arabic:'',
					summry_file:'',
					summry_foreign:'',
					full_text:'',
					journal_frequency:'',
					journal_type:'',
					journal_website:'',
					folder_number:'',
					folder_section:'',
					publishment_info:'',
					publishment_country:'',
					publishment_city:'',
					publisher_title:[],
					publisher_full_name:[],
					publisher_last_name:[],
					author_title:'',
					author_full_name:'',
					author_last_name:'',
					co_author_full_name:[],
					co_author_last_name:[],
					sender_name:'',
					sender_email:'',
					owner_email:'',
					owner_website:'',
					notes:'',
					source_url:'',

				},
			}
		},
		created(){
			axios.get('/api/categories')
			.then(r => {
				this.categories = r.data.categories
			})
			axios.get('/api/main_subjects')
			.then(r => {
				this.mains = r.data.main_subjects
			})
		},
		computed : {
			publishment_date(){
				return this.months + '/' + this.years
			}
		},
		methods:{
			add(t){
				if(this.inputs.key_words.indexOf(t) === -1 && t.length !== 0){
					this.inputs.key_words.push(t)
					this.written_key_word =''
				}
			},
			remove(t){
				var index = this.inputs.key_words.indexOf(t);
				this.inputs.key_words.splice(index , 1)
			},
			addMain(){
				let clone = _.cloneDeep(this.main_subjects[0])
				this.main_subjects.push(clone)
			},
			assignMain(current , choosen){
				current.title = choosen.title
				current._id = choosen._id
				current.sub_list = choosen.sub_subjects
				this.$forceUpdate();
			},
			assignSub(current , choosen){
				current._id = choosen._id
				current.title = choosen.title
			},
			addSub(model){
				let clone = _.clone(model[0])
				model.push(clone)
			},
			pop(collections){
				if (collections.length != 1) {
					collections.pop();
				}
			},
			validate(){
				this.$validator.validateAll()
				.then( result => {
					console.log(result)
					if (result){
						this.sendData();
						return;
					}
					else{
						this.message = 'من فضلك تأكد من ملئ جميع الحقول الإجبارية'
						window.scrollTo(0 , document.body.scrollHeight)
					}
				})
			},
			sendData(){
				this.inputs.publishment_date = this.publishment_date;
				
				this.inputs.main_subjects = this.main_subjects;

				let formData = new FormData();

				formData.append('summry_file' , this.summry_file)

				formData.append('full_text' , this.full_text)


				formData.append('body' , JSON.stringify(this.inputs))

				axios.post('/api/researches' , formData , {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				})
				.then(r => {
					console.log(r.data)
					window.location.href = '../researches';
				})	
			},
			hasError(input){
				return this.errors.has(input) ? false : null
			}
		}
	}
</script>

<style lang="scss">
	.key-words {
		button{
			border-radius: 0px;
		}
	}
</style>