<template>
    <b-card :sub-title="'النوع : ' +  $t(research.type) + ' | اللغة : ' + $t(research.language)">
       <slot name="buttons" slot="header"></slot>
        <b-row class="mt-30">
            <b-col cols="5">
                <p>رقم البحث : {{research._id.slice(-5)}}</p>
                <p>روؤوس الموضوعات : </p>
                <div class="mb-3" v-for="main in research.mainSubjectsAll">
                    {{main.title }} > 
                    <span class="space" v-for="sub in main.sub_subjects">
                        <b-badge>
                            {{sub.title}}
                        </b-badge>
                    </span>
                </div>
                <p>صفحة البداية  : {{research.start_page}}</p>
                <p>صفحة النهاية  : {{research.end_page}}</p>
                <p>عنوان الدورية  : {{research.journal_title_arabic}}</p>
                <p>وتيرة الدورية  : {{research.journal_frequency}} شهور</p>
                <p>الموقع الالكترونى للدورية : <a :href="research.journal_website">{{research.journal_website}}</a></p>
                <p> رقم المجلد : {{research.folder_number}}</p>
                <p> جزء المجلد : {{research.folder_section}}</p>
                <p> النشر : {{research.publishment_info}} | {{research.publishment_organization}} |{{research.publishment_country}} | {{research.publishment_city}} | {{research.publishment_date}}</p>
                <p>
                    الكلمات المفتاحية : 
                    <span class="space" v-for="category in research.categories">
                        <b-badge>
                            {{category.title}}
                        </b-badge>
                    </span >
                </p>
                <p>
                    المحررين : 
                    <span class="space" v-for="publisher in research.publishers">
                        <b-badge>
                            {{publisher.title}} |  {{publisher.full_name}} | {{publisher.last_name}} 
                        </b-badge>
                    </span >
                </p>
                <p v-if="research.author"> المؤلف : 
                    <b-badge>
                        {{research.author.title}} | {{research.author.full_name}} | {{research.author.last_name}}
                    </b-badge>
                </p>
                <p>
                    المؤلف المشارك : 
                    <span class="space" v-for="co_author in research.co_authors">
                        <b-badge>
                            {{co_author.title}} |  {{co_author.full_name}} | {{co_author.last_name}} 
                        </b-badge>
                    </span >
                </p>
                <p> المرسل : 
                    <b-badge>
                        {{research.sender_name}} | {{research.sender_email}}
                    </b-badge>
                </p>
                <p> صاحب البحث : 
                    <b-badge variant="dark">
                        {{research.owner_email}} | 
                        <br>
                        <a :href="research.owner_website">{{research.owner_website}}</a>
                    </b-badge>
                </p>
                <p> المرفقات : 
                    <p v-if="research.summry_file ">
                        <a :href="'/get_file?url=' + research.summry_file">الملخص</a>
                    </p>
                    <p v-if="research.full_text">
                        <a  :href="'/get_file?url=' + research.full_text">النص كامل</a>
                    </p>
                    <p v-else>لا توجد مرفقات</p>
                </p>                        
                <p> الملاحظات : {{research.notes}}</p>
                <p> المصدر : <a :href="research.source_url">{{research.source_url}}</a></p>
                <p> issn :  {{research.issn}} </p>
            </b-col>
            <b-col cols="7">
                <p> الملخص : {{research.summry_arabic}}</p>
                <p> الملخص بللغة أخرى : {{research.summry_foreign}}</p>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
    export default {
        props: ['research'],
        data(){
            return {
                
            }
        }
    }
</script>